<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.blaze.dao.NewsDao">
  <resultMap id="BaseResultMap" type="cn.blaze.domain.po.News">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="publisher" jdbcType="VARCHAR" property="publisher" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="inserttime" jdbcType="TIMESTAMP" property="inserttime" />
    <result column="isvalid" jdbcType="CHAR" property="isvalid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.blaze.domain.po.News">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <resultMap id="BaseResultMapAll" type="cn.blaze.domain.po.News">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="publisher" jdbcType="VARCHAR" property="publisher" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="inserttime" jdbcType="TIMESTAMP" property="inserttime" />
    <result column="isvalid" jdbcType="CHAR" property="isvalid" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>

  <sql id="Base_Column_List">
    id, title, author, publisher, position, starttime, endtime, inserttime, isvalid
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>

  <select id="selectByTimeSize" parameterType="Map" resultMap="BaseResultMapAll">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from TB_NEWS
    where
    <![CDATA[
    isvalid = "Y" AND starttime < #{date} AND endtime > #{date}
    limit #{size}
    ]]>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from TB_NEWS
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TB_NEWS
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="cn.blaze.domain.po.News" keyProperty="id">
    <selectKey keyProperty="id" resultType="String" order="BEFORE">
      select replace(uuid(),'-','') from dual
    </selectKey>
    insert into TB_NEWS (id, title, author,
      publisher, `position`, starttime,
      endtime, inserttime, isvalid, 
      content)
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR},
      #{publisher,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, #{starttime,jdbcType=TIMESTAMP}, 
      #{endtime,jdbcType=TIMESTAMP}, #{inserttime,jdbcType=TIMESTAMP}, #{isvalid},
      #{content,jdbcType=LONGVARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="cn.blaze.domain.po.News">
    update TB_NEWS
    set title = #{title,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      publisher = #{publisher,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      starttime = #{starttime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      inserttime = #{inserttime,jdbcType=TIMESTAMP},
      isvalid = #{isvalid,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateValid" parameterType="String">
    update TB_NEWS
    set
    isvalid = 'N'
    where id = #{id,jdbcType=VARCHAR}
  </update>

</mapper>