<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 开启注解支持 -->
    <mvc:annotation-driven/>
	<!-- 开启注解扫描 -->
	<context:component-scan base-package="cn.blaze.controller"></context:component-scan>
	<!-- 视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 前缀 -->
		<property name="prefix" value="/WEB-INF/views/"></property>
		<!-- 后缀 -->
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- 定义首页   -->
	<!-- <mvc:view-controller path="/" view-name="redirect:/login/loginJsp" /> -->
	 
	<!-- 解决静态资源被拦截的问题 -->
	<!-- 对静态资源文件的访问-->
    <mvc:resources mapping="/component/**" location="/component/"/>
    <mvc:resources mapping="/css/**" location="/css/"/>
    <mvc:resources mapping="/js/**" location="/js/"/>
    <mvc:resources mapping="/images/**" location="/images/"/>
    <mvc:resources mapping="/Images/**" location="/Image/"/>
    <mvc:resources mapping="/assets/**" location="/assets/"/>
    <mvc:resources mapping="/ligerUI1.3.3/**" location="/ligerUI1.3.3/"/>
    <mvc:resources mapping="/fonts/**" location="/fonts/"/>
    <mvc:resources mapping="/font/**" location="/font/"/>
    <mvc:resources mapping="/news.html" location="/"/>

	<!-- 拦截器配置 -->
	<mvc:interceptors>
        <!-- 配置登录拦截器 -->
      <!--   <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/assets/**"/>
            <mvc:exclude-mapping path="/component/**"/>
            <mvc:exclude-mapping path="/css/**"/>
            <mvc:exclude-mapping path="/js/**"/>
            <mvc:exclude-mapping path="/images/**"/>
            <mvc:exclude-mapping path="/ligerUI1.3.3/**"/>
            <mvc:exclude-mapping path="/fonts/**"/>
            <bean class="cn.blaze.interceptor.LoginInterceptor"/>
        </mvc:interceptor> -->
        <!-- 配置Token拦截器，防止用户重复提交数据 -->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="cn.blaze.interceptor.TokenInterceptor"/>
        </mvc:interceptor>
	</mvc:interceptors>
</beans>